<div class="orderDiv">
        <div class="orderAmnt animated bounceInLeft">
                <div class="divTableCell divTableHeading">{{ 'ORDER.AMOUNT' | translate }}</div>
                <div class="divTableCell">$ 100</div>
        </div>
        <div class="dividerDiv animated bounceInDown"></div>
        <div class="divTable animated bounceInRight">
                <div class="divTableBody">
                        <div class="divTableRow">
                                <div class="divTableCell divTableHeading">{{ 'ORDER.MERCHANTNAME' | translate }}</div>
                                <div class="divTableCell">TestMerchant</div>
                        </div>
                        <div class="divTableRow">
                                <div class="divTableCell divTableHeading">{{ 'ORDER.TRANSACTIONID' | translate }}</div>
                                <div class="divTableCell">BS100</div>
                        </div>

                        <div class="divTableRow">
                                <div class="divTableCell divTableHeading">{{ 'ORDER.ORDERID' | translate }}</div>
                                <div class="divTableCell">AVNIAJNADY</div>
                        </div>
                </div>
        </div>
</div>
